AlignConsecutiveDeclarations: Consecutive
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: None
PPIndentWidth: 4
TabWidth: 4